*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    --bgclr-main: #0f0f0f;
    --clr-table: #323232;
    background-color: var(--bgclr-main);
    padding: 1rem;
}
.dialogue{
    position: fixed;
    width: 80%;
    height: 80vh;
    background-color: rgb(10, 10, 10);
    color: #fff;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding: 2rem 2.7rem;
    font-size: 18px;
    z-index: 10;
    outline: 16rem solid rgba(20, 20, 20, 0.617);
    display: none;
}
.dialogue span{
    position: absolute;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
    right: 4px;
    top: 4px;
    padding: .6rem;
    cursor: pointer;
}
.dialogue span:hover{
    background-color: rgba(0, 0, 0, 0.494);
}
h1{
    color: #fff;
    font-family: sans-serif;
}
table{
    
    --clr-even-row: #272727;
    --clr-table-th: #1d1d1d80;
    --clr-text: #fff;
    --trans: ease-in;
    border-collapse: collapse;
    background-color: var(--clr-table);
    font-weight: 400;
    font-family: verdana;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0 2rem;
    color: var(--clr-text);
    transition: background-color .6s var(--trans);

}
table th,table td{
    padding: .4rem .3rem;
}

@media (max-width:980px){
    table th,table td{
        padding: .5rem;
        font-size: 15px;
    }
}
@media (max-width:900px){
    table th,table td{
        font-size: 15px;
    }
}

table, th{
    text-transform: capitalize;
    background-color: var(--clr-table-th);
    transition: background-color .6s var(--trans);

}
table td{
    opacity: .6;
}

table tr:nth-child(even){
    background-color: var(--clr-even-row);
    transition: background-color .6s var(--trans);

}
table > tbody tr > *{
    animation: tr-anim .8s forwards ease-out;
}
@keyframes  tr-anim{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

tbody > tr > td:nth-child(5), td > a{
     color: rgb(69, 69, 254);
     cursor: pointer;
     text-decoration: none;
}

tbody > tr > td:nth-child(5):hover, td > a:hover{
     text-decoration: underline;
}
